.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.list-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
}

.list-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.list-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}